Django>=5.2,<5.3
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
drf-spectacular[sidecar]==0.30.0
psycopg[binary]>=3.2,<3.3
django-filter>=25.1,<26
django-cors-headers>=4.7,<5
Pillow>=11.0,<12
